[Unit]
Description=Idle manager for Wayland
Documentation=man:swayidle(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w \
            timeout 300  'swaylock -f'
            timeout 600  'swaymsg "output * dpms off"'
            before-sleep 'swaylock -f'
            resume       'swaymsg "output * dpms on"'

[Install]
WantedBy=sway.target
