#!/bin/sh

{{ if eq .chezmoi.os "linux" -}}

{{ if eq .chezmoi.osRelease.id "arch" -}}

sudo pacman -Syu --needed base-devel

git clone https://aur.archlinux.org/pikaur.git ~/pikaur

pushd ~/pikaur
  makepkg -si
popd

rm -rf ~/pikaur

pikaur -Pi packages/PKGBUILD

nvim +PackerSync +qall

{{ end -}}

{{ end -}}
