#!/usr/bin/bash

{{ if eq .chezmoi.osRelease.id "arch" -}}

# Shell stuff
yay --needed -S \
  fish \
  starship \
  broot \
  gnome-keyring

# Spotify
yay --needed -S \
  spotify-tui \
  spotifyd-full

systemctl --user enable spotifyd
systemctl --user start spotifyd

# DE
yay --needed -S \
  alacritty \
  visual-studio-code-bin \
  gimp \
  vlc \
  discord \
  firefox \
  plasma-meta \
  plasma-wayland-session \
  dolphin-plugins

# Programing languages
yay --needed -S \
  rust \
  cmake \
  cmake-format \
  docker

# Gaming
yay --needed -S \
  steam \
  steam-native-runtime \
  wine \
  mono

# Drivers
yay --needed -S \
  nvidia \
  opencl-nvidia \
  lib32-nvidia-utils \
  splix \
  epson-inkjet-printer-escpr

{{ end -}}
