* {
  border: none;
  border-radius: 0;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background-color: #2e3440;
  color: #eceff4;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  padding: 0 8px;
  background-color: transparent;
  color: #eceff4;
  border-bottom: 3px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: #434c5e;
  box-shadow: inherit;
  border-bottom: 3px solid #eceff4;
}

#workspaces button.focused {
  background-color: #4c566a;
  border-bottom: 3px solid #eceff4;
}

#workspaces button.urgent {
  background-color: #d08770;
}

#mode {
  background-color: #64727d;
  border-bottom: 3px solid #eceff4;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#mpd {
  padding: 0 3px;
  margin: 0 4px;
  color: #eceff4;
}

@keyframes blink {
  to {
    color: #eceff4;
  }
}

label:focus {
  background-color: #4c566a;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  color: #a3be8c;
}

#mpd.disconnected {
  color: #bf616a;
}

#mpd.stopped {
  color: #90b1b1;
}

#mpd.paused {
  color: #51a37a;
}
