@define-color bg #1f2430;
@define-color fg #cbccc6;
@define-color comment #5c6773;
@define-color markup #f28779;

* {
  border: none;
  border-radius: 0px;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background-color: @bg;
  color: @fg;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#workspaces button {
  padding: 0 8px;
  background-color: transparent;
  color: @fg;
  border-bottom: 3px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover,
#workspaces button.focused {
  background: @comment;
  box-shadow: inherit;
  border-bottom: 3px solid @fg;
}

#workspaces button.urgent {
  background-color: @markup;
}

#mode {
  background-color: @comment;
  border-bottom: 3px solid @fg;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#custom-media {
  padding: 0 10px;
  /* margin: 0 4px; */
}

@keyframes blink {
  to {
    color: @fg;
  }
}

#idle_inhibitor.activated {
  background-color: @fg;
  color: @bg;
}
