@define-color bg #1f2430;
@define-color fg #cbccc6;
@define-color comment #5c6773;
@define-color markup #f28779;

window {
  margin: unset;
  border: unset;
  background-color: @bg;
}

#input {
  margin: 5px;
  border: unset;
  background-color: #141925;
  color: @fg;
}

#inner-box {
  margin: 0px;
  border: unset;
  background-color: unset;
}

#outer-box {
  margin: 0px;
  border: 0px;
  background-color: unset;
  padding: 0px;
}

#scroll {
  margin: 5px;
  border: unset;
  background-color: unset;
}

#text {
  margin: 5px;
  color: @fg;
}
